<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.benzkuai.yijing"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19"/>


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission	android:name="android.permission.ACCESS_FINE_LOCATION"	/>


    <application android:label="@string/app_name" android:icon="@drawable/logo_96x96">

        <activity android:name=".WelcomeActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleInstance"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".BookActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleInstance"
                android:theme="@android:style/Theme.NoTitleBar"
                android:screenOrientation="portrait">

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <!-- 百灵欧拓广告植入相关 -->
        <activity
                android:name="com.otomod.ad.OfferWebView"
                android:configChanges="keyboardHidden|orientation" >
        </activity>

        <service android:name="org.OpenUDID.OpenUDID_service" >
            <intent-filter>
                <action android:name="org.openudid.GETUDID" />
            </intent-filter>
        </service>

        <!--<service android:name=".BookService" android:enabled="true" android:exported="true"/>-->
    </application>
</manifest>
